# Classification Model Performance

In [ ]:
!git clone https://github.com/s7s/machine_learning_1.git
%cd  machine_learning_1/classification_model_performance

Cloning into 'manning'...
remote: Enumerating objects: 864, done.
remote: Counting objects: 100% (671/671), done.
remote: Compressing objects: 100% (457/457), done.
remote: Total 864 (delta 368), reused 476 (delta 191), pack-reused 193
Receiving objects: 100% (864/864), 53.26 MiB | 21.77 MiB/s, done.
Resolving deltas: 100% (435/435), done.
/content/manning/Chapter_13_End_to_end_example

In [ ]:
import pandas
import matplotlib.pyplot as plt

## Loading dataset

First, we use pandas to load the dataset from a csv file.

In [ ]:
data = pandas.read_csv('./preprocessed_titanic_data.csv')
data.head()

,Survived,SibSp,Parch,Fare,Sex_female,Sex_male,Pclass_C,Pclass_Q,Pclass_S,Pclass_U,...,Pclass_2,Pclass_3,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]","Categorized_age_(50, 60]","Categorized_age_(60, 70]","Categorized_age_(70, 80]"
0,0,1,0,7.2500,0,1,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
1,1,1,0,71.2833,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,0,0,7.9250,1,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
3,1,1,0,53.1000,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,8.0500,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,0,0

### Features-labels split and train-validation split

In [ ]:
features = data.drop(["Survived"], axis=1)
labels = data["Survived"]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# remark: we fix random_state the end, to make sure we always get the same split
features_train, features_validation_test, labels_train, labels_validation_test = train_test_split(
    features, labels, test_size=0.4, random_state=100)

In [ ]:
features_validation, features_test, labels_validation, labels_test = train_test_split(
    features_validation_test, labels_validation_test, test_size=0.5, random_state=100)

In [ ]:
print(len(features_train))
print(len(features_validation))
print(len(features_test))
print(len(labels_train))
print(len(labels_validation))
print(len(labels_test))

534
178
179
534
178
179

### Training model on our dataset

In [ ]:
from sklearn.linear_model import LogisticRegression

lr_model = LogisticRegression()
lr_model.fit(features_train, labels_train)

/Users/luisserrano/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### Model Evaluation

#### Accuracy

In [1]:
print("Scores of the model")
print("Logistic regression:", lr_model.score(features_validation, labels_validation))

Scores of the model

NameError: ignored

#### F1-score

In [ ]:
from sklearn.metrics import f1_score

print("F1-scores of the model:")

lr_predicted_labels = lr_model.predict(features_validation)
print("Logistic regression:", f1_score(labels_validation, lr_predicted_labels))

F1-scores of the models:
Logistic regression: 0.6870229007633588
Decision Tree: 0.7205882352941176
Naive Bayes: 0.6808510638297872
Support Vector Machine: 0.39999999999999997
Random Forest: 0.7153284671532848
Gradient boosting: 0.7384615384615385
AdaBoost: 0.6865671641791045

### Testing the model

Finding the accuracy and the F1-score of the model in the testing set.

In [ ]:
lr_model.score(features_test, labels_test)

0.8324022346368715

In [ ]:
lr_predicted_test_labels = lr_model.predict(features_test)
f1_score(labels_test, lr_predicted_test_labels)

0.8026315789473685